In [56]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [57]:
data = pd.read_csv("snsdata.csv")
data

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2009,M,16.115,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29996,2009,M,15.792,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29997,2009,M,15.784,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,2009,M,16.378,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29999,2009,F,18.724,3,2,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
rate_df = data.groupby('gender').mean().iloc[:, 4:] * 100
rate_df

,football,soccer,softball,volleyball,swimming,cheerleading,baseball,tennis,sports,cute,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
gender,,,,,,,,,,,,,,,,,,,,,
F,21.878117,23.138660,20.599438,17.398204,15.121973,13.203954,7.096218,8.447447,13.36719,39.113086,...,12.142922,29.123968,43.724494,17.098939,7.944137,5.926363,18.858257,12.201868,9.422327,6.506756
M,44.848717,21.007277,0.919188,3.466105,7.985446,0.861739,27.154347,10.321716,19.97319,7.123707,...,2.432018,13.596323,4.883187,7.219456,3.274607,2.278820,17.828418,10.417465,7.525852,5.515128

In [59]:
subtraction = rate_df.iloc[0] - rate_df.iloc[1]
F_hobby = subtraction[subtraction > 0].index
M_hobby = subtraction[subtraction < 0].index

In [60]:
def predict_gender(row):
    f_score = row[F_hobby].sum()
    m_score = row[M_hobby].sum()
    return 'F' if f_score > m_score else 'M'

predicted_gender = data[data['gender'].isnull()].apply(predict_gender, axis=1)

data.loc[data['gender'].isnull(), 'gender'] = predicted_gender

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   gradyear      30000 non-null  int64
 1   gender        30000 non-null  object
 2   age           24914 non-null  float64
 3   friends       30000 non-null  int64
 4   basketball    30000 non-null  int64
 5   football      30000 non-null  int64
 6   soccer        30000 non-null  int64
 7   softball      30000 non-null  int64
 8   volleyball    30000 non-null  int64
 9   swimming      30000 non-null  int64
 10  cheerleading  30000 non-null  int64
 11  baseball      30000 non-null  int64
 12  tennis        30000 non-null  int64
 13  sports        30000 non-null  int64
 14  cute          30000 non-null  int64
 15  sex           30000 non-null  int64
 16  sexy          30000 non-null  int64
 17  hot           30000 non-null  int64
 18  kissed        30000 non-null  int64
 19  dance         30000 non-null  int64
 20  band          30000 non-null  int64
 21  marching      30000 non-null  int64
 22  music         30000 non-null  int64
 23  rock          30000 non-null  int64
 24  god           30000 non-null  int64
 25  church        30000 non-null  int64
 26  jesus         30000 non-null  int64
 27  bible         30000 non-null  int64
 28  hair          30000 non-null  int64
 29  dress         30000 non-null  int64
 30  blonde        30000 non-null  int64
 31  mall          30000 non-null  int64
 32  shopping      30000 non-null  int64
 33  clothes       30000 non-null  int64
 34  hollister     30000 non-null  int64
 35  abercrombie   30000 non-null  int64
 36  die           30000 non-null  int64
 37  death         30000 non-null  int64
 38  drunk         30000 non-null  int64
 39  drugs         30000 non-null  int64
dtypes: float64(1), int64(38), object(1)
memory usage: 9.2+ MB