In [30]:
# train - 3p trb blk 열 데이터 -> pos를 예측하는 knn 모델 생성
# test - 3p trb blk 열 데이터를 knn 모델에 입력 -> 예측 결과와 정답 비교 -> 정확도 출력

import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score


# 파일 로드

with open('basketball_test.pkl', 'rb') as test_data:
    test = pd.read_pickle(test_data)

with open('basketball_train.pkl', 'rb') as train_data:
    train = pd.read_pickle(train_data)

train_test_data = [train, test]


# 모델 생성

col = ['3P', 'TRB', 'BLK']

train_data = train[col] # 훈련용 데이터셋
test_data = test[col] # 테스트용 데이터셋
target = train['Pos'] # 모델이 예측해야될 부분

clf = KNeighborsClassifier(n_neighbors=1) # 모델(knn, 이웃 변수=1 로 설정)
clf.fit(train_data, target) # 훈련


# 예측

prediction = clf.predict(test_data) # 훈련된 모델을 테스트 데이터셋에 적용하여 예측된 결과 출력


# 정확도

k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
scoring = 'accuracy'
score = cross_val_score(clf, train_data, target, cv=k_fold, n_jobs=1, scoring=scoring)

round(np.mean(score) * 100, 2)

97.5

In [31]:
score

array([1.   , 1.   , 1.   , 1.   , 1.   , 1.   , 0.875, 0.875, 1.   ,
       1.   ])

In [32]:
prediction

array(['C', 'SG', 'SG', 'C', 'SG', 'SG', 'SG', 'SG', 'C', 'C', 'SG', 'C',
       'C', 'SG', 'SG', 'SG', 'SG', 'C', 'C', 'SG'], dtype=object)

In [33]:
train_data

     3P  TRB  BLK
26  2.4  2.1  0.1
86  1.7  2.8  0.4
60  0.0  6.6  1.3
45  1.8  3.3  0.1
68  1.6  2.1  0.1
..  ...  ...  ...
82  2.3  2.8  0.3
5   1.8  6.2  0.4
40  0.0  3.8  0.7
22  2.1  1.5  0.1
43  0.0  5.1  1.3

[80 rows x 3 columns]

In [34]:
test_data

     3P   TRB  BLK
96  0.8   4.5  0.7
39  1.9   2.8  0.2
21  1.9   1.8  0.1
95  0.3  10.4  1.0
56  2.4   2.8  0.3
80  1.2   2.9  0.4
76  2.6   2.2  0.2
78  1.4   3.2  0.7
62  0.0   6.4  1.4
87  0.0   5.5  3.0
14  2.0   3.3  0.2
90  0.0   9.2  1.1
54  1.5   4.5  0.5
73  1.9   4.3  0.3
88  1.3   2.8  0.4
36  1.7   3.3  0.8
99  2.0   2.5  0.2
16  0.0   4.5  0.6
69  0.0   4.2  0.8
13  2.0   6.1  0.2