In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()


# 1.타이타닉호 승객 데이터의 데이터 개수를 각 열마다 구해본다.

titanic.count()


# 2.sort_values 메서드를 사용하여 타이타닉호 승객에 대해 성별(sex) 인원수,
# 나이별(age) 인원수, 선실별(class) 인원수, 사망/생존 인원수를 출력하시오.

titanic.sex.value_counts()
titanic.age.value_counts()
titanic['class'].value_counts()
titanic.alive.value_counts()


# 3.타이타닉호 승객의 평균 나이를 구하라.

int(titanic.age.mean())


# 4.타이타닉호 승객중 여성 승객의 평균 나이를 구하라.

int(titanic.age[titanic.sex == "female"].mean())


# 5.타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

int(titanic.age[(titanic.sex == "female") & (titanic.pclass == 1)].mean())


# 6.타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category1 열을 만들어라.
# category1 카테고리는 다음과 같이 정의된다.
# - 20살이 넘으면 성별을 그대로 사용한다.
# - 20살 미만이면 성별에 관계없이 “child”라고 한다.

titanic['age'].fillna(0, inplace=True) # 결측값을 0으로 대체, inplace=True: 변경사항 적용

# 조건을 만족하면 데이터 그대로 적용, 아니면 새로운 값 적용
titanic['category1'] = np.where(titanic.age >= 20, titanic.sex, 'child')
titanic


# 7.타이타닉호의 승객 중 나이를 명시하지 않은 고객은 나이를 명시한
# 고객의 평균 나이 값이 되도록 titanic 데이터프레임을 고쳐라.

titanic.age[titanic.age == 0] = titanic.age.mean()
titanic


# 8. 타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category2 열을 만들어라.
# category2 카테고리는 다음과 같이 정의된다.
# - 성별을 나타내는 문자열 male 또는 female로 시작한다.
# - 성별을 나타내는 문자열 뒤에 나이를 나타내는 문자열이 온다.
# *예를 들어 27살 남성은 male27 값이 된다.

titanic['category2'] = titanic.sex + titanic.age.astype(int).astype(str) # 나이를 정수로 바꾼다음 문자열로 변환
titanic.category2


# 9.타이타닉호 승객을 ‘미성년자’, ‘청년’, ‘중년’, ‘장년’, ‘노년’ 나이 그룹으로 나눈다.
bins = [1, 20, 30, 50, 70, 100]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
# 그리고 각 나이 그룹의 승객 비율을 구한다. 비율의 전체 합은 1이 되어야 한다.

titanic['나이 그룹'] = pd.cut(titanic.age, bins=bins, labels=labels)

# 비율
titanic['나이 그룹'].value_counts() / len(titanic)


# 10. 타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category3 열을 만들어라.
# category3 카테고리는 다음과 같이 정의된다.
# - 20살 미만이면 성별에 관계없이 “미성년자”라고 한다.
# - 20살 이상이면 나이에 따라 “청년”, “중년”, “장년”, “노년”을 구분하고 그 뒤에 성별을 나타내는 “남성”, “여성”을 붙인다.

titanic['category3'] = np.where(titanic.age >= 20, titanic['나이 그룹'].astype(str) + titanic.sex, '미성년자')
titanic